/* .priority-high{

background:#dc3545;
color:white;
padding:4px 8px;
border-radius:4px;
font-size:12px;

}

.priority-medium{

background:#ffc107;
padding:4px 8px;
border-radius:4px;
font-size:12px;

}

.priority-low{

background:#198754;
color:white;
padding:4px 8px;
border-radius:4px;
font-size:12px;

} */